@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

:root {
  --color-lgBlack: #333;
  --color-dkBlack: black;

  --color-lgGray: #f4f4f4;
  --color-gray: #d6d5d5;
  --color-dkGray: #ccc;

  --color-green: #2ac37d;
  --color-dkGreen: #009f94;
  --color-red: #cf5050;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.topBotLayoutPadding {
  padding: 32px;
}
